body {
  font-size: 18px;
  font-family: "Crimson Text", Georgia, serif;
  line-height: 1.5rem;
}

a {
  color: #1e4066;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: sticky;
  width: 100%;
  background-color: white;
  top: 0;
}

nav img {
  width: 2.25rem;
  margin-right: 1rem;
}

nav h1 {
  position: relative;
  top: 0.3rem;
  font-size: 1.5rem;
}

.header {
  background:  linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url('https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80');
  height: 40vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 0 black;
  color: white;
}

.header h1 {
  line-height: 1rem;
  font-size: 3rem;
}

.supporting,
.contact {
  background-image: url('https://user-images.githubusercontent.com/6455018/56475028-a6cb1880-6450-11e9-9dee-ea9f2e3621ab.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.supporting h1 {
  max-width: 30rem;
  font-size: 2rem;
  line-height: 2.75rem;
  text-align: center;
}

.areas {
  padding: 4rem 2rem;
}

.areas h2 {
  margin-bottom: 1rem;
}

.areas ul {
  padding-left: 4rem;
  list-style-type: bullets;
  display: flex;
  flex-wrap: wrap;
}

.areas li {
  width: 33%;
  padding: 1rem 1rem 1rem 0;
  min-width: 15rem;
  max-width: 30rem;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.contact {
  display: block;
}

.contact h2 {
  margin-bottom: 1.5rem;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex: 1;
  min-width: 25rem;
  margin-bottom: 2rem;
}

.card h3 {
line-height: 1rem;
margin-top: 1rem;
}

.card img {
  width: 12rem;
  height: 15rem;
  margin-right: 1rem;
}

#map {
  flex: 1;
  min-width: 25rem;
  width: 90%;
  height: 400px;
  background-color: grey;
  margin-bottom: 2rem;
}

.review {
  padding: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review > div > h1 {
  color: goldenrod;
  letter-spacing: 0.5rem;
}

.review h1 {
  max-width: 40rem;
  line-height: 2.75rem;
  text-align: center;
}

.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 4rem 4rem 8rem 4rem;
}